{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center">Comment Space</h1>
        <P>"¡Queremos saber tu opinión! Este espacio está dedicado a que compartas tus comentarios, ideas y sugerencias. Tu participación es muy importante para nosotros, ya que nos ayuda a mejorar y crear una comunidad más cercana. Por favor, mantén un tono respetuoso y constructivo. ¡Gracias por formar parte de esta conversación!"</P>
    </section>
    <section class="card card-body">
        <h1 class="display-4 text-center" >ACCEDE A MI PAGINA WEB</h1>
    
    <div class="text-center">
        <a class="btn btn-dark" href="/signin/">
            Iniciar Sesion
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrate
        </a>
    </div>
    </section>
</main>
{% endblock %}