{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center">MI PASION A LA PROGRAMACION</h1>
        <P>Desde que descubrí la programación, supe que había encontrado algo más que un simple pasatiempo; descubrí una
            pasión que me impulsa a aprender, crear e innovar cada día. La programación es para mí un lenguaje
            universal, una herramienta poderosa que me permite convertir ideas en realidad, resolver problemas complejos
            y construir soluciones que pueden tener un impacto significativo en la vida de las personas.
            Lo que más me atrae de la programación es su capacidad infinita de creación. Es como un vasto lienzo en
            blanco donde puedo plasmar mi creatividad y lógica para construir desde una simple aplicación hasta sistemas
            completos que facilitan la vida diaria. La programación me ofrece un desafío constante, siempre hay algo
            nuevo por descubrir, una tecnología emergente por dominar, o un problema por resolver.</P>
    </section>
    <section class="card card-body">
        <h1 class="display-4 text-center">ACCEDE A MI PAGINA WEB!</h1>
    
    <div class="text-center">
        <a class="btn btn-dark" href="/signin/">
            Iniciar Sesion
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrate
        </a>
    </div>
    </section>
</main>
{% endblock %}